.carddemoBasicUsage .card-media {
	background-color: #FFFFFF;
}

/*.h2 {
	text-align: center;
    }*/
.md-padding {
	padding: 0 8 8 8;
}
#container{
    /*height: 80%;
    max-width: 100%;
    min-height: 650px;
    font-family: 'Lato';
    position:relative;*/
		height:80%;
		background-color: #EBE1E1;
}
#bottom{
		display: none;
		height: 0%;
		background-color: #FFFFFF;
}
#top {
  /*min-width: 975px;*/
  /*overflow: scroll;*/
  height: 60%;
 }
#tabs {
	position: fixed;
}
#cards {
	 position:fixed;
	 left: 0;
	 right: 0;
	 overflow: scroll;
	 /*min-width: 325px;*/
	 /*width: 25%;*/
	 /*overflow: scroll;*/
	 background-color: #FFFFFF;
	 height: 34%;
}

/*for the card buttons*/
#cardActions {
    float: right;
}

#cardPadding {
		background-color: #FFFFFF;
}
#cardlist {
		background-color: #FFFFFF;
		height: auto;
		min-height: 154px;
}

#map {
 height: 100%;
	width: 100%;/*
	overflow: scroll;
	height: 100%;*/
}

.tab {
	color: #000000;
	width: 33%;
	border-width: 0 1px 0px 1px;
border-style: solid;
border-color: #d9d9d9;
border-radius: 0 0 1px 1px;
}
#tab0{
	width: 40%;
	overflow: auto;
	text-overflow: ellipsis
}
#tab1{
	width: 30%;
}
#tab2{
	width: 30%;
}

#leftTitle {
	text-align: center;
	color:#FFFFFF;
}
.png-icon{
    /*margin: 5px auto auto;*/
    padding: 0;
    display: inline-block;
    background-repeat: no-repeat no-repeat;
    pointer-events: none;
}
#addBtn {
	padding: 0.1% 0.1% 0.1% 0.1%;
	position: absolute;
	transition: .5s ease;
	top: 2.5%;
	left: 91.5%;
}
#attendBtn{
	margin-right: 10px;
	margin-bottom: 10px;
	margin-left: 0px;
	padding: 5px 12px;
}
.btn {
	float: right;

    background-color: #FFFFFF;
    line-height: 20px;
    text-decoration: none;
    color: #000000;
    font-size: 14px;
    /*font-family: Georgia;*/
    display: inline-block;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#f5f5f5),to(#f1f1f1));
    background-image: -webkit-linear-gradient(top,#f5f5f5,#f1f1f1);
    background-image: -moz-linear-gradient(top,#f5f5f5,#f1f1f1);
    background-image: -o-linear-gradient(top,#f5f5f5,#f1f1f1);
    background-image: -ms-linear-gradient(top,#f5f5f5,#f1f1f1);
    background-image: linear-gradient(top,#f5f5f5,#f1f1f1);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.btn:hover,
.btn:active,
.btn:focus {
    background-image: -webkit-gradient(linear,left top,left bottom,from(#f1f1f1),to(#e5e3e3));
    background-image: -webkit-linear-gradient(top,#f1f1f1,#e5e3e3);
    background-image: -moz-linear-gradient(top,#f1f1f1,#e5e3e3);
    background-image: -o-linear-gradient(top,#f1f1f1,#e5e3e3);
    background-image: -ms-linear-gradient(top,#f1f1f1,#e5e3e3);
    background-image: linear-gradient(top,#f1f1f1,#e5e3e3);
}

/*Won's banner*/
#banner{
	/*position: fixed;*/

}
#trademark1{
 text-align: center;
 font: 'Roboto'
}

#trademark2{
    font-family: 'Roboto', serif;
    color:white;
    font-size:15px;
    text-align: center;
}
.header-div{
    overflow:auto;
    background-color: #FFFFFF;
		height: 7.5%;
}
.header-div h1{
    font-family: 'Roboto', serif;
    color: #000000;
    font-size:2rem;
}
.cemvideo {
    padding-right: 15px;
}
.cemvideo a {
    font-family: 'Roboto', serif;
    color:white;
    font-size: 15px;
}
.banner-img{
    height:1rem;
    float:left;
		/*padding-left: 3%;
		padding-top: 3%;
		padding-bottom: 5%;*/
    /*clear:right;*/
    /*overflow:auto;*/
}
h1{
	margin-top: 2.5%;
	font-family: 'Roboto', serif;
	margin-bottom: 0%;
	font-size:2rem;
	color:#000000;
}
h2{
    color:#e6e6e6;
    font-family: 'Roboto', serif;
}

h4{
    font-family: 'Roboto', serif;
    color:#e6e6e6;
    font-size:1rem;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: black;
    cursor: default;
    background-color: #fff;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
    font-weight: bold;
		transition: 0.2s ease;
		overflow: auto;
		text-align:center;

	}
a {
    color: #AAAAAA;
}
.clearfix,.col{
    height: 100%;
}
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
