.carddemoBasicUsage .card-media {
	background-color: #FFFFFF;
}

/*.h2 {
	text-align: center;
    }*/
.md-padding {
	padding: 0 8 8 8;
}
html {
    height  : 100%;
    overflow: hidden;
}
body {
    height  : 100%;
    overflow: auto;
}
#banner {
    position: fixed;
    width: 100%;
}
#addBtn {
	padding: 0.1% 0.1% 0.1% 0.1%;
	position: absolute;
	transition: .5s ease;
	top: 35%;
	/*left: 91.5%;*/
	right: 2.5%;
}
#container{
    /*height: 80%;
    max-width: 100%;
    min-height: 650px;
    font-family: 'Lato';
    position:relative;*/
	    position: fixed;
	    top: 8.8%;
	    width: 100%;
	    height: 100%;
	    background-color: #EBE1E1;
}
#top {
	    position: relative;
	    width: 100%;
	    /* overflow: scroll; */
	    height: 45%;
}
#map {
 height: 100%;
	width: 100%;
	/*
	overflow: scroll;
	height: 100%;*/
}
/*.panel-body {
    overflow: scroll;
    height: 100px;
}*/
.scrollable {
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
}
#bottom{
		display: none;
		width: 100%;
		height: 100%;
		position: fixed;
		/*overflow-y: auto;*/
		/*-webkit-overflow-scrolling: touch;*/
		/*background-color: #FFFFFF;*/
}
.nav-tabs {
    border-bottom: 0px solid #ddd;
}
#tabs {
	position: fixed;
}
.tab {
	color: #000000;
	width: 33%;
	border-width: 0 1px 0px 1px;
border-style: solid;
border-color: #d9d9d9;
border-radius: 0 0 1px 1px;
}
#tab0{
	width: 40%;
	overflow: auto;
	text-overflow: ellipsis
}
#tab1{
	width: 30%;
}
#tab2{
	width: 30%;
}
.cards {
	-webkit-overflow-scrolling: touch;
	 position:fixed;
	 left: 0;
	 right: 0;
	 overflow: auto;
	 /*min-width: 325px;*/
	 /*width: 25%;*/
	 /*overflow: scroll;*/
	 background-color: #FFFFFF;
	 height: 40%;
}

/*for the card buttons*/
#cardActions {
    /*float: right;*/
}

#cardPadding {
		background-color: #FFFFFF;
}
#cardlist {
		/*background-color: #FFFFFF;
		height: auto;*/
		/*min-height: 230px;*/
		/*overflow-y: scroll;
		-webkit-overflow-scrolling: touch;*/
}
.heart {
  fill: #aab8c2;
  position: relative;
  width: 25px;
	left: 40px;
	/*margin-bottom: 3%;*/
}
/*
@keyframes heartbeat {

}

.heart {
  position: absolute;
	transform: scale(0.25);

  width: 215%;
	cursor: pointer;
}
.heart:checked {
}
.heart:before,
.heart:after {
  position: absolute;
  content: "";
  left: 50px;
  top: 0;
  width: 50px;
  height: 80px;
  background: #aab8c2;
  -moz-border-radius: 50px 50px 0 0;
  border-radius: 50px 50px 0 0;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transform-origin: 0 100%;
  -moz-transform-origin: 0 100%;
  -ms-transform-origin: 0 100%;
  -o-transform-origin: 0 100%;
  transform-origin: 0 100%;
}

.heart:after {
  left: 0;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transform-origin: 100% 100%;
  -moz-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  -o-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
}*/


#attendBtn{
	margin-right: 10px;
	margin-bottom: 10px;
	margin-left: 0px;
	padding: 5px 12px;
}
.btn {
	float: right;

    background-color: #FFFFFF;
    line-height: 20px;
    text-decoration: none;
    color: #000000;
    font-size: 14px;
    /*font-family: Georgia;*/
    display: inline-block;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#f5f5f5),to(#f1f1f1));
    background-image: -webkit-linear-gradient(top,#f5f5f5,#f1f1f1);
    background-image: -moz-linear-gradient(top,#f5f5f5,#f1f1f1);
    background-image: -o-linear-gradient(top,#f5f5f5,#f1f1f1);
    background-image: -ms-linear-gradient(top,#f5f5f5,#f1f1f1);
    background-image: linear-gradient(top,#f5f5f5,#f1f1f1);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.btn:hover,
.btn:active,
.btn:focus {
    background-image: -webkit-gradient(linear,left top,left bottom,from(#f1f1f1),to(#e5e3e3));
    background-image: -webkit-linear-gradient(top,#f1f1f1,#e5e3e3);
    background-image: -moz-linear-gradient(top,#f1f1f1,#e5e3e3);
    background-image: -o-linear-gradient(top,#f1f1f1,#e5e3e3);
    background-image: -ms-linear-gradient(top,#f1f1f1,#e5e3e3);
    background-image: linear-gradient(top,#f1f1f1,#e5e3e3);
}

/*Won's banner*/
#trademark1{
 text-align: center;
 font: 'Roboto'
}

#trademark2{
    font-family: 'Roboto', serif;
    color:white;
    font-size:15px;
    text-align: center;
}
.header-div{
    overflow:auto;
    background-color: #FFFFFF;
		height: 7.5%;
}
.header-div h1{
    font-family: 'Roboto', serif;
    color: #000000;
    font-size:2rem;
}
.cemvideo {
    padding-right: 15px;
}
.cemvideo a {
    font-family: 'Roboto', serif;
    color:white;
    font-size: 15px;
}
.banner-img{
    height:1rem;
    float:left;
		/*padding-left: 3%;
		padding-top: 3%;
		padding-bottom: 5%;*/
    /*clear:right;*/
    /*overflow:auto;*/
}
h1{
	/*margin-top: 2.5%;*/
	font-family: 'Roboto', serif;
	margin-top: 4%;
	margin-bottom: 0%;
	font-size:2rem;
	color:#000000;
}
h2{
    color:#e6e6e6;
    font-family: 'Roboto', serif;
}

h4{
    font-family: 'Roboto', serif;
    color:#e6e6e6;
    font-size:1rem;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: black;
    cursor: default;
    background-color: #fff;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
    font-weight: bold;
		transition: 0.2s ease;
		overflow: auto;
		text-align:center;

	}
a {
    color: #AAAAAA;
}
.clearfix,.col{
    height: 100%;
}
/* The Modal (background) */
.modal {
	-webkit-overflow-scrolling: touch;
	overflow: auto;
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
	-webkit-overflow-scrolling: touch;
	overflow: auto;
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
